user www-data;
worker_processes auto;
pid /run/nginx.pid;
include /etc/nginx/modules-enabled/*.conf;

events {
  worker_connections 768;
}

http {

  sendfile on;
  tcp_nopush on;
  tcp_nodelay on;
  keepalive_timeout 65;
  types_hash_max_size 2048;

  include /etc/nginx/mime.types;
  default_type application/octet-stream;

  ssl_protocols TLSv1 TLSv1.1 TLSv1.2; # Dropping SSLv3, ref: POODLE
  ssl_prefer_server_ciphers on;

  access_log /var/log/nginx/access.log;
  error_log /var/log/nginx/error.log;

  gzip on;

  server {
    listen 80 default_server;
    listen [::]:80 default_server;

    server_name _;

    location = /jwks {
      limit_except GET {
        deny  all;
      }
      proxy_pass http://127.0.0.1:8102/jwks;
    }

    location = /revoke {
      limit_except POST {
        deny  all;
      }
      proxy_pass http://127.0.0.1:8102/revoke;
    }

    location = /arrangements/revoke {
      limit_except POST {
        deny  all;
      }
      proxy_pass http://127.0.0.1:8102/arrangements/revoke;
    }

  }
}
