NODE_ENV=production
LOG_LEVEL=info
MOCK_TLS_PKI=1
ADR_JWKS=http://localhost:8402/private.jwks
ADR_REGISTER_OIDC_URI=http://localhost:8301/oidc
ADR_REGISTER_RESOURCE_URI=http://localhost:8301
ADR_REGISTER_SECURE_RESOURCE_URI=http://localhost:8301
ADR_SOFTWARE_PRODUCT_CONFIG_URIS={"sandbox":"http://localhost:8401/software.product.config"}
ADR_DATABASE_OPTIONS={"type":"postgres","host":"localhost","username":"sandbox","password":"sandbox","database":"sandbox"}
REGISTER_FRONT_END_URI=http://localhost:8301
REGISTER_FRONT_END_MTLS_URI=http://localhost:8301
REGISTER_MOCK_DHS={"test-data-holder-1":"http://localhost:8201/mock.register.config"}
REGISTER_TEST_DR_JWKS_URI=http://localhost:8102/jwks
DH_JOSE_APPLICATION_BASE_URL=https://localhost:10202
DH_FRONTEND_URL=https://localhost:10201
DH_FRONTEND_MTLS_URL=https://localhost:10202
DH_OIDC_AUTHORIZATION_ENDPOINT=https://localhost:9201/authorize
DH_OIDC_PAR_ENDPOINT=https://localhost:10202/par
DH_REGISTER_JWKS_URI=http://localhost:8301/oidc/jwks
DH_OIDC_TOKEN_ENDPOINT=https://localhost:10202/idp/token
DH_OIDC_INTROSPECTION_ENDPOINT=https://localhost:10202/idp/token/introspect
DH_OIDC_REVOKE_ENDPOINT=https://localhost:10202/idp/token/revoke
DH_OIDC_USERINFO_ENDPOINT=https://localhost:10202/userinfo
DH_OIDC_DCR_ENDPOINT=https://localhost:10202/idp/register
DH_OIDC_JWKS_ENDPOINT=http://localhost:8201/jwks
DH_DATABASE_OPTIONS={"type":"postgres","host":"localhost","username":"sandbox","password":"sandbox","database":"sandbox"}
